.total-distance-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;

  label, input {
    margin: 0;
  }

  label {
    flex: 0 1 auto;
    padding-right: 5px;
  }

  input {
    flex-grow: 0;
    flex-basis: 9ch;
  }
}