.app {
  max-width: 80%;
  margin: 0 auto;
}

.app-header {
  display: inline-block;
  margin-right: 10px;
}

.about-link {
  font-weight: bold;
  text-decoration: none;
}

.about-link:hover,
.about-link:focus {
  text-decoration: underline;
}

.about-link,
.about-link:hover,
.about-link:active,
.about-link:visited {
  color: #4f6bed;
}