.plan.edit .plan-heading {
  /* Icons should appear after the edit box */
  display: flex;
}

.plan-heading, .plan-title-input {
  display: block;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

/* When rendered as a span, the text needs additional padding before the icons */
.plan-heading-text {
  padding-right: 5px;
}

.plan-heading .heading-action {
  height: 20px;
  width: 20px;
}

.date-column {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.date-string {
  font-weight: bold;
}

.description-column {
  flex: 2;
}

.description-column .row:not(:last-child),
.date-column .row {
  margin-bottom: 10px;
}

.description-input {
  width: 100%;
  display: block;
}

.workout {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.workout.edit:not(:last-child) {
  border-bottom: 1px solid #e0dcd9;
}

.goal-race, .actions-container {
  margin-bottom: 1.25em;
  font-size: 1.17em;
}

.button {
  margin: 0 5px;
}

.button:first-child {
  margin-left: 0px;
}

.button:last-child {
  margin-right: 0px;
}

.total-distance-input {
  width: 3em;
  margin: 0 5px;
  vertical-align: baseline;
}

/* Align actions with the description input */
.edit-workout-action-container {
  padding-top: 2px;
}

.workout:not(:focus-within):not(:hover) .edit-workout-action-container {
  visibility: hidden;
}

@media (max-width: 800px) {
  .workout {
    display: block;
  }

  .date-column {
    margin-right: 0px;
    text-align: left;
  }

  .workout:not(:focus-within):not(:hover) .edit-workout-action-container {
    visibility: visible;
  }

  .edit-workout-action-container {
    padding-top: 0px;
  }
}