.date {
  flex: 1;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

.description {
  flex: 2;
}

.description-input {
  width: 100%;
}

.workout {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.goal-race {
  margin-bottom: 1.25em;
  font-size: 1.17em;
}

@media (max-width: 800px) {
  .workout {
    display: block;
  }

  .date {
    margin-right: 0px;
    text-align: left;
  }
}