.plan.edit .plan-heading {
  /* Icons should appear after the edit box */
  display: flex;
}

.plan-title-input {
  margin-bottom: 0;
}

.plan-heading, .plan-title-input {
  display: block;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

/* When rendered as a span, the text needs additional padding before the icons */
.plan-heading-text {
  padding-right: 5px;
}

.plan-heading button.heading-action-button {
  margin-left: 5px;
}

button.heading-action-button {
  margin-left: 5px;

  .heading-action-icon {
    position: relative;

    .view & {
      top: 3px;
    }

    .edit & {
      top: 1px;
    }
  }
}
