.plan-title, .plan-title-input {
  display: block;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}

.plan-title {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.date {
  flex: 1;
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

.description {
  flex: 2;
}

.description-input {
  width: 100%;
}

.workout {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.goal-race, .actions-container {
  margin-bottom: 1.25em;
  font-size: 1.17em;
}

.button {
  margin: 0 5px;
}

.button:first-child {
  margin-left: 0px;
}

@media (max-width: 800px) {
  .workout {
    display: block;
  }

  .date {
    margin-right: 0px;
    text-align: left;
  }
}