@import "../lib/milligram/milligram";

:root {
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{$color-primary-rgb};
  --color-neutral-primary: #{$color-neutral-primary};
  --color-neutral-secondary: #{$color-neutral-secondary};
  --color-dark: #{$color-dark};
}

html {
  font-size: 90%;
}

body {
  background-color: #faf9f8;
}

a.active {
  text-decoration: underline;
}

.primary {
  color: var(--color-primary);
}

.react-datepicker {
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected {
    background-color: var(--color-neutral-secondary);

    &:hover {
      background-color: var(--color-neutral-primary);
    }
  }

  .react-datepicker__day--selected {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-dark);
    }
  }
}

$max-width-pixels: 1000px;
$max-width-percentage-decimal: 0.95;
$max-width-percentage: #{100% * $max-width-percentage-decimal};

.root {
  max-width: $max-width-pixels;
  margin: calc(2.0rem * .625) auto;

  @media (max-width: #{$max-width-pixels / $max-width-percentage-decimal}) {
    max-width: $max-width-percentage;
  }
}

.header {
  display: inline-block;
  margin-right: 10px;
}

.about-link {
  font-weight: bold;
}
