@import "../lib/milligram/milligram";

html {
  font-size: 90%;
}

body {
  background-color: #faf9f8;
}

a.active {
  text-decoration: underline;
}

.primary {
  color: $color-primary;
}

.react-datepicker {
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected {
    background-color: $color-neutral-secondary;

    &:hover {
      background-color: $color-neutral-primary;
    }
  }

  .react-datepicker__day--selected {
    background-color: $color-primary;

    &:hover {
      background-color: $color-dark;
    }
  }
}

.root {
  max-width: 80%;
  margin: calc(2.0rem * .625) auto;
}

.header {
  display: inline-block;
  margin-right: 10px;
}

.about-link {
  font-weight: bold;
}
