.settings {
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

select {
  max-width: 200px;
}


@media (max-width: 800px) {
  .settings {
    flex-direction: column;
  }

  .field {
    margin: 10px 10px;
  }

  select {
    max-width: 100%;
  }
}