@import "../lib/milligram/Color";

$field-horizontal-margin: 10px;

.settings {
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 $field-horizontal-margin;

  min-width: 100px;

  .download-button {
    margin: 5px 0;
    padding: 0;
  }
}

select {
  max-width: 100%;
}

.upload-button {
  margin-right: auto;
}

@media (max-width: 650px) {
  .settings {
    flex-wrap: wrap;
  }

  .field {
    flex-basis: calc(50% - #{2 * $field-horizontal-margin});
  }
}