// @import "globals";

$grid-breakpoint: 700px;
$hide-grid-title-breakpoint: 1000px;

.week {
  display: flex;
  flex-direction: column;

  &:not(.grid) {
    .subtitle.grid {
      display: none;
    }
  }

  &.grid {
    .subtitle:not(.grid) {
      display: none;
    }

    @media screen and (max-width: $hide-grid-title-breakpoint) {
      .subtitle:not(.grid) {
        display: initial;
      }

      .subtitle.grid {
        display: none;
      }
    }
  }

  .subtitle {
    padding-left: 1ch;
  }

  .workouts-container {
    display: flex;
    flex-direction: column;
  }

  &.grid {
    h3 {
      font-size: 1.25rem;
      margin: 0 10px 0 0;
    }

    @media print, (min-width: $grid-breakpoint) {
      h3 {
        flex-shrink: 0;
        margin-bottom: 5px;
      }

      .workouts-container {
        flex-direction: row;
      }
    }

    @media print, (min-width: $hide-grid-title-breakpoint) {
      flex-direction: row;

      h3 {
        margin-bottom: 0px;
        // Used to ensure the week "column" has a uniform width
        // across all rows
        flex-basis: 9ch;
      }

      .title, .subtitle {
        display: block;
        padding-left: 0;
      }
    }
  }
}