// @import "globals";

$grid-breakpoint: 700px;
$hide-grid-title-breakpoint: 1000px;

$border-color: #d2d0ce;
$grid-padding: 10px;

.workout {
  display: flex;
  flex-direction: row;
  padding: 5px 0;

  &.grid {

    @media (min-width: $grid-breakpoint) {
      .date-column {
        flex-grow: 0;
        text-align: left;
        padding-top: 1px; // Manually align with the basline of the Week number


        .edit-workout-action-container {
          margin-bottom: 0 !important;
          padding-top: 0;

          .workout-action-button {
            margin-left: 0;
          }
        }
      }

      .move-up-button, .move-down-button {
        display: none;
      }
    }

    &, &.edit {
      @media(min-width: $grid-breakpoint) {
        flex-direction: column;
        flex: 0 0 calc(100% / 7);
        padding: 0 $grid-padding;
        border-right: 1px solid $border-color;

        &:first-child {
          border-left: 1px solid $border-color;
        }
        &:last-child {
          border-color: transparent;
          padding-right: 0;
        }
      }

      @media(min-width: $grid-breakpoint) and (max-width: $hide-grid-title-breakpoint) {
        &:first-child {
          border-left: 1px solid transparent;
          padding-left: 0;
        }
      }
    }
  }

  @media (hover: hover) {
    &:not(:focus-within):not(:hover) .edit-workout-action-container {
      opacity: 0;
    }
  }

  .edit-workout-action-container {
    /* Align actions with the description input */
    padding-top: 5px;

    button.workout-action-button {
      &:not(:first-child) {
        margin-left: 5px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  input.total-distance-input {
    margin-bottom: 0;
    /* 3 chars + up/down toggle in some browsers  */
    max-width: 5em;
    margin: 0 5px;
  }

  textarea.description-input {
    margin-bottom: 0;
    width: 100%;
    display: block;
    font-family: "Arial";
    min-height: 1rem;
    resize: vertical;
  }

  &.grid .description-input {
    @media (min-width: $grid-breakpoint) {
      height: 8rem;
    }
  }

  &.edit {
    border: 1px solid transparent;

    &:not(:first-child) {
      border-top: 1px solid $border-color;
    }

    @media(min-width: $grid-breakpoint) {
      &.grid {
        border-top: 1px solid transparent;
      }
    }

    &.drag-hover {
      border-color: var(--color-primary);
      background-color: rgba(var(--color-primary-rgb), 0.1);

      * {
        pointer-events: none;
      }
    }

    .date-string {
      /* Align date with total distance */
      padding-top: 2px;
    }

    .description-column .my-row:not(:last-child),
    .date-column .my-row {
      margin-bottom: 10px;
    }
  }

  .date-column {
    flex: 1;
    text-align: right;
    margin-right: 20px;
  }

  .description-column {
    flex: 2;
  }
}

@media (max-width: $grid-breakpoint) {
  .workout {
    display: block;

    .edit-workout-action-container {
      padding-top: 0px;
    }

    .date-column {
      margin-right: 0px;
      text-align: left;
    }
  }
}